@model RestaurantReservation.WebUI.ViewModels.DishCatalogueViewModel

@{
    ViewBag.Title = "List";
}
<div id="category-list" class="row panel">
    @Html.Action("GetCategoryList", "Category")
</div>

<div class="text-center">
    <h2 class="currentCategoryName"><u>@Model.CurrentCattegory</u></h2>
</div>

@foreach (var dish in Model.Dishes)
{
    @Html.Partial("DishSummary",dish)
}


